@{
    Layout = null;
}

<script>
    $("#displayTempo").text("Tempo: " + tempoAtual);
    $("#displayPontos").text("Pontos: " + pontuacao);
</script>
<p id="displayTempo"></p>
<p id="displayPontos"></p>